{% extends "layout.html" %}
{% block page_title %}Welcome{% endblock %}
{% block body %}
    {{ super() }}

    <p>Aldan Moldabekuly Project with essential elements that used in app such as</p>
    <ul>
        <li>URL Building</li>
        <li>Authentication with Sessions</li>
        <li>Template & Template Inheritance</li>
        <li>Error Handling</li>
        <li>Integrating with Bootstrap</li>
        <li>Interaction with Database (SQLite)</li>
        <li>Invoking static resources</li>
        <li>Upload files</li>
    </ul>

{% endblock %}
